<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moneta.test.mapper.newMapper" >
	<resultMap id="testResult" type="com.moneta.test.domain.TestVO">
	<!-- sql명령문을 통해 가져온 데이터의 이름들을 TestVO에 정의된 변수 이름과 맞춰줌 -->
		<id property="boardSeq" column="board_seq" />
		<result property="memberId"    column="member_id"/>
		<result property="nickNm"  column="nick_nm"/>
		<result property="boardTitle"  column="board_title"/>
		<result property="boardContent"  column="board_content"/>
		<result property="regDt"  column="reg_dt"/>
		<result property="updateDt"  column="update_dt"/>
		<result property="fileName"  column="file_name"/>
		<result property="fileServerName"  column="file_server_name"/>
	</resultMap>

	<!-- sql명령문 정의 -->
	<select id="selectList"   resultType="com.moneta.test.domain.TestVO" resultMap="testResult">
	    SELECT * FROM TEST_BOARD ORDER BY BOARD_SEQ DESC
	</select>
	
	<select id="selectView"  parameterType= "int" resultType="com.moneta.test.domain.TestVO" resultMap="testResult">
	    SELECT * FROM TEST_BOARD 
	    WHERE BOARD_SEQ = #{boardSeq}
	</select>
	
	<insert id="createSeq" parameterType="com.moneta.test.domain.TestVO">
		INSERT INTO TEST_BOARD(board_seq, nick_nm, board_title, board_content, reg_dt) 
		VALUES 
		(#{boardSeq}, #{nickNm}, #{boardTitle}, #{boardContent}, sysdate)
	
	</insert>
		
	<update id="editSeq" parameterType="com.moneta.test.domain.TestVO">
		UPDATE TEST_BOARD 
		SET board_title = #{boardTitle},
			nick_nm = #{nickNm},
			board_content = #{boardContent},
			update_dt = sysdate
						
		WHERE BOARD_SEQ = #{boardSeq}
	</update>
	
	<delete id="deleteSeq" parameterType="int">
		DELETE FROM TEST_BOARD
		WHERE BOARD_SEQ = #{boardSeq}
	</delete>
	
</mapper>
